<!--
 * @Date         : 2022-12-03 22:19:07
 * @Author       : BDFD,bdfd2005@gmail.com
 * @Github       : https://github.com/bdfd
 * @LastEditTime : 2023-12-03 10:12:34
 * @LastEditors  : BDFD
 * @Description  : 
 * @FilePath     : \views\PageEdit\01HomePage\01Summary.ejs
 * Copyright (c) 2022 by BDFD, All Rights Reserved. 
-->
<section class="section brd-btm">
	<div class="row">
		<div class="col-sm-12 clear-mrg text-box">
			<!-- <h2 align="center" class="title-lg text-upper">Welcome to My Teaching Portfolio</h2> -->
			<h2 align="center" class="title-lg">Welcome to My Teaching Portfolio
			</h2>
			<p>
				Registered Early Childhood Educator and dedicated Master's in
				Early Childhood Studies student with seven years of career
				experience supporting children with diverse needs in
				multicultural educational settings. Possesses in-depth and
				first-hand
				knowledge of social justice issues surrounding children and
				families from marginalized groups. Motivated to explore and
				create learning opportunities tailored to each child’s unique
				needs. A firm believer and practitioner of open and
				collaborative communication with students, parents, peers,
				school administration, and community resource or service
				providers. Mission-oriented educator committed to building early
				educational foundations that support each child's unique
				developmental needs and prepare every student for future
				possibilities
			</p>
			<p class="text-right">
				<img width="30%" height="30%"
					src="images/My Logo/user_signature.jpg"
					alt="Xin Lin Signature" /><br />
				2022.03
			</p>
		</div>
	</div>
</section>